<div class="modal-dialog  modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Crear Estudiante</strong></h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form action="{% url 'crearEstudiante' %}" method="post" id="crearEstudianteForm">
            {% csrf_token %}
            <Label><strong>Nombres: <sup class="requerido">(*)</sup></strong></Label>
            {{form.nombres}}
            <p id="nombres" class="bg-light text-danger" style="color: #dc3545;"></p>
            <br>
            <Label><strong>Apellidos: <sup class="requerido">(*)</sup></strong></Label>
            {{form.apellidos}}
            <p id="apellidos" class="bg-light text-danger" style="color: #dc3545;"></p>
            <br>
            <Label><strong>Latitud: <sup class="requerido">(*)</sup></strong></Label>
            {{form.latitud}}
            <p id="latitud" class="bg-light text-danger" style="color: #dc3545;"></p>
            <br>
            <Label><strong>Longitud: <sup class="requerido">(*)</sup></strong></Label>
            {{form.longitud}}
            <p id="longitud" class="bg-light text-danger" style="color: #dc3545;"></p>
            <br>
            <Label><strong>Placa: <small>(Carro que lo llevará)</small><sup class="requerido">(*)</sup></strong></Label>
            {{form.placa}}
            <p id="placa" class="bg-light text-danger" style="color: #dc3545;"></p>
            <br>
            <p id="posicion" class="bg-light text-danger" style="color: #dc3545;"></p>
            {{form.estado}}
        </form>
        <hr>
        <button id="CrearEstudianteBoton" class="btn btn-success w-100">Crear Estudiante</button>
      </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $('#CrearEstudianteBoton').click(function () {
            var form = $('#crearEstudianteForm');
            $.ajax({
                url: form.attr('action'),
                type: form.attr('method'),
                data: form.serialize(),
                success: function (data) {
                    swal.fire({
                            title: "Exito!",
                            text: "Estudiante creado con exito!",
                            icon: "success",
                            button: "Aceptar",
                        }).then(function() {
                            location.reload();
                        });
                       
                },error: function (data) {
                    form.find('.text-danger').text('');
                    form.find('.is-invalid').removeClass('is-invalid');
                    errores = data.responseJSON.errores;
                    for (let i in errores) {
                        let x=form.find('input[name='+i+']')
                        x.addClass("is-invalid")
                        $("#"+i).text(errores[i])
                    }
                }
            });
        });
    });
</script>
