<div class="modal-dialog  modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Agregar Estudiante</strong></h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
      
      {% if estudiantes %}
      <table class="table" id="HijosDisponiblesTable" style="width: 100%">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Estudiante</th>
            <th scope="col">Agregar</th>
          </tr>
        </thead>
        <tbody>
            {% for estudiante in estudiantes %}
            <tr>
                <th scope="row">{{forloop.counter}}</th>
                <td>{{estudiante.get_nombreCompleto}}
                  <form action="{% url 'agregarEstudianteRuta' placa %}" method="post" id="AgregarEstudianteRutaForm">
                    {% csrf_token %}
                    <input type="hidden" name="placa" value="{{placa}}">
                    <input type="hidden" name="estudiante" value="{{estudiante.pk}}">
                  </form>

                </td>
                <td><a id="AgregarEstudianteBoton" class="btn btn-outline-success btn-sm"><i class="fa-solid fa-circle-plus fa-xl"></i></a></td>
            </tr>
            {% endfor %}
        </tbody>
      </table>
      {% else %}
      <h2>No hay estudiantes que se puedan asociar a esta ruta</h2>
      {% endif %}
        
        <hr>
        <!-- <button id="CrearEstudianteBoton" class="btn btn-success w-100">Crear Estudiante</button> -->
      </div>
    </div>
</div>
<script>
  $(document).ready(function () {
   $('#HijosDisponiblesTable').DataTable({
         "language": {
            "url": "//cdn.datatables.net/plug-ins/1.10.16/i18n/Spanish.json"
        },
        responsive:true
   });
 });
</script>
<script>
    $(document).ready(function () {
        $('#AgregarEstudianteBoton').click(function() {
      const swalWithBootstrapButtons = Swal.mixin({
      customClass: {
        confirmButton: 'btn btn-success',
        cancelButton: 'btn btn-danger'
      },
      buttonsStyling: false
    })
    
    swalWithBootstrapButtons.fire({
      title: '¿Estás seguro?',
      text: "Asignará este estudiante al carro",
      icon: 'warning',
      showCancelButton: true,
      confirmButtonText: 'Si, asignar!',
      cancelButtonText: 'No, cancelar!',
      confirmButtonClass: "buttonSweetalert",
      reverseButtons: true
    }).then((result) => {
      if (result.isConfirmed) {
        var form = $("#AgregarEstudianteRutaForm")
        $.ajax({
          url: form.attr('action'),
          type: form.attr('method'),
          data: form.serialize(),
          success: function (data) {
              swal.fire({
                      title: "Exito!",
                      text: "Estudiante agregado con exito!",
                      icon: "success",
                      button: "Aceptar",
                  }).then(function() {
                      location.reload();
          });
            
    },error: function (data) {
      swal.fire({
                title: "Error!",
                text: "No se pudo completar la accion",
                icon: "error",
                button: "Aceptar",
            }).then(function() {
                location.reload();
            });
    }
});
           
      } else if (
        result.dismiss === Swal.DismissReason.cancel
      ) {
        swalWithBootstrapButtons.fire(
          'Canecelado',
          'No se ha agregado el estudiante al carro',
          'error'
        ).then(function(){
          location.reload();
        })
      }
    })
        })
    
    })
</script>



