{% extends "base.html" %}
{% load static %}
{% block titulo %}Administración de Rutas{% endblock titulo %}
{% block extendHead %}
{% endblock extendHead %}

{% block contenido %}
<div class="row">
    <div class="col-10">
        <h3>Administrar Ruta del Carro <strong>{{placa}}</strong></h3>
    </div>
</div>
<hr>

{% if estudiantes %}
<table class="table" id="RutaEstudiantesTable">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Estudiante</th>
        <th scope="col">Posicion</th>
        <th scope="col">Quitar</th>
      </tr>
    </thead>
    <tbody>
        {% for estudiante in estudiantes %}
        <tr>
            <th scope="row">{{forloop.counter}}</th>
            <td>{{estudiante.get_nombreCompleto}}</td>
            <td>{{estudiante.posicion}}</td>
            <td><a href="#" class="btn btn-outline-danger btn-sm"><i class="fa-solid fa-circle-minus fa-xl"></i></a></td>
        </tr>
        {% endfor %}
    </tbody>
  </table>
    {% else %}
    <h5>Este carro no tiene estudiantes asociados, primero agregué  estudiantes para administrar una ruta</h5>
{% endif %}
  
<hr>
  <div class="card">
    <div class="card-footer">
      <div class="row">
        <div class="col-6"> 
          <a onclick="AgregarEstudianteRuta('{% url 'agregarEstudianteRuta' placa %}' )" class="btn btn-outline-success w-100" ><i class="fa-solid fa-child"></i> Agregar estudiante</a>
        </div>
        <div class="col-6">
          <a href="" class="btn btn-outline-warning w-100" ><i class="fa-solid fa-map-location-dot"></i> Cambiar posiciones</a>
      </div>
      </div>
    </div>
  </div>


<div class="modal fade" id="AgregarEstudianteRutaModal" role="dialog" >
</div>
{% endblock contenido %}

{% block extendScript %}
<script src="{% static 'libs/sweetalert/sweetalert.js' %}"></script>
<script>
  $(document).ready(function () {
   $('#RutaEstudiantesTable').DataTable({
         "language": {
            "url": "//cdn.datatables.net/plug-ins/1.10.16/i18n/Spanish.json"
        },
        responsive:true
   });
 });
</script>
{% endblock extendScript %}