{% extends "base.html" %}
{% load static %}
{% block titulo %}Mapa{% endblock titulo %}
{% block extendHead %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
{% endblock extendHead %}

{% block contenido %}
placa: {{placa}}
<br>
duración: {{directions.duration}}
<br>
distancia: {{directions.distance}}


<div class="div-container">
    <div class="map-container">
        <div id="map-route"></div>
     </div>
  </div>
  <hr>
<div id="map_canvas"></div>
{% endblock contenido %}

{% block extendScript %}

<script type="text/javascript">
var google_api_key = "{{google_api_key|safe}}";
var lat_a = {{lat_a|safe}};
var long_a = {{long_a|safe}};
var lat_b = {{lat_b|safe}};
var long_b = {{long_b|safe}};
var lat_c = {{lat_c|safe}};
var long_c = {{long_c|safe}};
var lat_d = {{lat_d|safe}};
var long_d = {{long_d|safe}};
var lat_e = {{lat_e|safe}};
var long_e = {{long_e|safe}};
var lat_f = {{lat_f|safe}};
var long_f = {{long_f|safe}};
var origin = "{{origin|safe}}";

var destination = "{{destination|safe}}";
var directions = {{directions|safe}}
</script>

<script src="{% static 'js/google_maps.js' %}"></script>
{% endblock extendScript %}